.outside {
    display: flex;
    justify-content: center;
    padding: 3rem;
    background-color: #B2BEF2;
    min-height: 100vh;
}

.inside {
    width: 100%;
    background-color: white;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: bold;
    margin-top: 2rem;
}